(done	
	(and
		(installed "htop")				 
		(change "echo" "hallo denkhaus")			
	)		
)
       
(self update
	(and
		(change "go" "get" "-u" "github.com/denkhaus/llconf")
		(restart "/go/bin/llconf")
	)	
)