(done	
	(and
		(installed "curl")				 
		(change "echo" "hallo denkhaus")			
		
	)		
)
       
(self update
	(and
		(change "go" "get" "-u" "-v" "github.com/denkhaus/llconf")
		(change "restart" "llconf")
	)	
)