
(provision node	
	(and
		(system update)
		(ensure hostname [var:hostname])
		(locale ready)
		(docker ready)
		(installed "htop")	
	)	
)


(locale ready
	(and
		(installed "locales")
		(change "dpkg-reconfigure" "locales")
		(change "locale-gen" "C.UTF-8")
		(change "update-locale" "LANG=C.UTF-8")		
		(pipe
			(change "echo" "en_US.UTF-8 UTF-8")
			(change "tee" "-a" "/etc/locale.gen")
		)
		(change "locale-gen")		
	)
)

(docker ready
	(and		
		(package absent "docker-engine")		
		(installed "apt-transport-https")
		(setvar "docker-apt-list" "/etc/apt/sources.list.d/docker.list")
		(change "rm" "-rf" [var:docker-apt-list])
		(pipe
			(change "echo" "deb https://apt.dockerproject.org/repo ubuntu-trusty main")
			(change "tee" "-a" [var:docker-apt-list])
		)
		(change "apt-key" "adv" 
			"--keyserver" "hkp://p80.pool.sks-keyservers.net:80" 
			"--recv-keys" "58118E89F3A912897C070ADBF76221572C52609D"
		)
		(change "apt-get" "update" )
		(installed "docker-engine")	
	)	
)




